body {
    .content-wrapper {
        z-index:1;
        pointer-events:none;
        position:relative;
        
        #main {
            padding-top:calc(100vh + 380px);
            opacity:0;
            transition:opacity .2s ease, padding .2s ease-in;

            .font-title {
                text-transform:uppercase;
                font-weight:300;
                font-size:($font-size-2 * 1px);
                line-height:($font-spacing-2 * 1px);
                color:$elbot-grey-3;
                margin-bottom:0;
            }
            .font-p {
                text-transform:uppercase;
                font-size:($font-size-1 * 1px);
                font-weight:400;
                line-height:($font-spacing-1 * 1px);
                color:$elbot-grey-3;
                margin-bottom:0;
            }

            section {
                margin-bottom:($font-spacing-2 * 2px);

                .section-title {
                    border-top:1px solid $elbot-grey-2;
                    border-bottom:1px solid $elbot-grey-2;
                }

                &.my-work-section-wrapper {
                    .my-work-content-row {
                        position:relative;

                        &:after {
                            content: "";
                            position: absolute;
                            width: calc(100% - $elbot-gutter * 2);
                            height: 100%;
                            border-bottom: 1px solid $elbot-grey-2;
                            left: calc($elbot-gutter);
                            top: 0;
                            pointer-events: none;
                        }

                        .my-work-col {
                            position:relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            padding-top:($font-spacing-2 * 1px);
                            padding-bottom:($font-spacing-1 * 1px);

                            &:nth-last-of-type(2) {
                                border-left:1px solid $elbot-grey-2;
                                border-right:1px solid $elbot-grey-2;
                            }

                            .my-work-bg-wrapper {
                                position:absolute;
                                width:calc(100% + 2px);
                                height:calc(100% + 1px);
                                left:-1px;
                                top:-1px;
                                pointer-events:none;
                                opacity:0;
                                display:flex;
                                flex-direction:column;
                                justify-content: center;

                                .lottie.bg {
                                    margin:-170px;
                                    
                                    &.design-bg svg path {
                                        fill:$elbot-yellow-2;
                                    }

                                    &.coding-bg svg path {
                                        fill:$elbot-cyan-2;
                                    }

                                    &.character-bg svg path {
                                        fill:$elbot-aqua-2;
                                    }
                                }
                                
                                .my-work-bg {
                                    position:absolute;
                                    top:0;
                                    left:0;
                                    width:100%;
                                    height:100%;

                                    &.design-bg {
                                        background-color:$elbot-yellow;
                                    }

                                    &.coding-bg {
                                        background-color:$elbot-cyan;
                                    }

                                    &.character-bg {
                                        background-color:$elbot-aqua;
                                    }
                                }
                            }

                            .my-work-content-wrapper {
                                .lottie.main {
                                    width:200px;
                                    margin-left:-20px;
                                }
                            }

                            &:hover {
                                .my-work-content-wrapper {
                                    z-index:2;

                                    .font-title, .font-p {
                                        color:$elbot-dark;
                                    }
                                }

                                .my-work-bg-wrapper {
                                    z-index:1;
                                    opacity:1;
                                }

                                &.design {
                                    //background-color:$elbot-yellow;
                                    //border:1px solid $elbot-yellow;
                                }

                                &.coding {
                                    //background-color:$elbot-cyan;
                                    //border:1px solid $elbot-cyan;
                                }

                                &.character {
                                    //background-color:$elbot-aqua;
                                    //border:1px solid $elbot-aqua;
                                }

                                .lottie {
                                    &.main {
                                        &.design-main svg path, &.coding-main svg path, &.character-main svg path {
                                            fill:$elbot-dark;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.motion-section-wrapper {
                    .motion-reel-wrapper {
                        position:relative;
                        padding-top:($font-spacing-1 * 1px);
                        padding-bottom:($font-spacing-1 * 1px);

                        &:after {
                            content:"";
                            position:absolute;
                            bottom:0;
                            left:($elbot-gutter);
                            width:calc(100% - $elbot-gutter * 2);
                            border-bottom:1px solid $elbot-grey-2;
                        }
                    }
                }

                &.skills-section-wrapper {
                    .skills-wrapper {
                        padding-top:($font-spacing-1 * 1px);
                        padding-bottom:($font-spacing-1 * 1px);
                        border-bottom:1px solid $elbot-grey-2;

                        .skills {
                            padding-top:($font-spacing-2 * 4px);
                            background-color:$elbot-yellow;
                        }
                    }
                }

                &.social-section-wrapper {
                    margin-bottom:($font-spacing-1 * 1px);

                    .social-link {
                        position:relative;
                        display:flex;
                        justify-content:space-between;

                        &:after {
                            content:"";
                            position:absolute;
                            bottom:0;
                            left:($elbot-gutter);
                            width:calc(100% - $elbot-gutter * 2);
                            border-bottom:1px solid $elbot-grey-2;
                        }

                        &:hover {
                            &.vimeo {
                                background-color:#1ab7ea;
                            }
                            &.instagram {
                                background-color:#C13584;
                            }
                        }

                        .font-p {
                            line-height:($font-spacing-2 * 1px);
                        }

                        .hyperlink-icon {
                            height:($font-spacing-2 * 1px);
                            
                            .arrow, .square {
                                fill:$elbot-grey-3;
                            }

                            .arrow {
                                transform:translate(-1px, 1px);
                                transition:transform .15s ease-in-out;
                            }
    
                            .bg {
                                fill:$elbot-grey-2;
                                opacity:0;
                            }
                        }

                        &:hover {
                            .hyperlink-icon {
                                .bg {
                                    opacity:1;
                                }
    
                                .arrow {
                                    transform:translate(2px, -2px);
                                }
                            }
                        }
                    }

                    .footer-wrapper {
                        display: flex;
                        justify-content: space-between;
                        position:relative;

                        .footer-logo {
                            height: 85px;
                            margin-top: 60px;
                        }

                        .font-p {
                            line-height:($font-spacing-2 * 3px);
                        }

                        &:after {
                            content:"";
                            position:absolute;
                            bottom:0;
                            left:($elbot-gutter);
                            width:calc(100% - $elbot-gutter * 2);
                            border-bottom:1px solid $elbot-grey-2;
                        }
                    }
                }
            }

            .accordion-item {
                background-color:transparent;
                border:none;
                border-bottom:1px solid $elbot-grey-2;
                
                .accordion-item-button-wrapper {
                    display: flex;

                    .accordion-icon {
                        height:($font-spacing-2 * 1px);

                        .plus, .minus, .arrow, .square {
                            fill:$elbot-grey-3;
                        }

                        .bg {
                            fill:$elbot-grey-2;
                            opacity:0;
                        }
                    }

                    .accordion-button {
                        background-color:transparent;
                        border-radius: 0;
                        padding:0;
                        box-shadow:none;
                        width:calc(100% - 30px);
                        justify-content: space-between;

                        .plus-icon .plus {
                            height:0;
                            transform:translateY(9px);
                            transition:height .15s ease-in-out, transform .15s ease-in-out;
                        }

                        &:hover {
                            .plus-icon .bg {
                                opacity:1;
                            }
                        }

                        &.collapsed {
                            .plus-icon .plus {
                                height:(($font-size-1 + 1) * 1px);
                                transform:translateY(0);
                            }
                        }

                        &:after {
                            content:none;
                        }

                        .font-title {
                            font-size:($font-size-1 * 1px);
                            font-weight:400;
                        }
                    }

                    .webdesign-link {
                        .hyperlink-icon {
                            .arrow {
                                transform:translate(-1px, 1px);
                                transition:transform .15s ease-in-out;
                            }
                        }

                        &:hover .hyperlink-icon {
                            .bg {
                                opacity:1;
                            }

                            .arrow {
                                transform:translate(2px, -2px);
                            }
                        }
                    }
                }
                
                .accordion-collapse {
                    opacity:0;
                    transition: height .3s ease, opacity .3s ease !important;

                    &.collapsing {
                        transition:inherit;
                    }

                    &.show {
                        opacity:1;
                        transition: height 4s ease, opacity .15s ease .3s !important;
                    }

                    &.collapse {
                        
                    }

                    .accordion-body {
                        padding:($font-spacing-1 * 1px) 0;
                        padding-top:0;
                    }
                }
            }
        }
    }

    &.content-active {
        .content-wrapper {
            pointer-events:all;

            #main {
                padding-top:calc(100vh + ($font-spacing-2 * 4px));
                opacity:1;
                transition:opacity .6s ease 1.4s, padding .6s ease-out 1.4s;
            }
        }
    }
}