.about-page {

  .full-height-wrapper.hero {
    height: 100vh;
    max-height: 500px;
    background-image:url(../../img/hero_bg_grey.jpg);
    background-size:cover;
    background-position:center center;
    margin-bottom:60px;
    box-shadow: rgba(184,100,44,.1) 0 5px 20px inset;
  }

  .cards-wrapper {
    padding-top:100px;
    padding-bottom:100px;

    .card-3-row {
      margin-bottom:30px;

      .card-3 {
        display:flex;

        .white-background {
          display: flex;
          flex-direction: column;
          padding: 30px 30px;
          border-radius: 5px;
        }

        .card-3-img {
          width:80px;
          height:80px;
          margin-bottom:20px;
        }

        .card-title {
          font-size:28px;
          line-height:36px;
          margin-top:32px;
        }
      }
    }
  }

  .this-is-us-wrapper {
    .this-is-us-row {
      .this-is-us-description {
        margin-top:2em;
      }

      img {
        width:100%;
      }
    }
  }

  .inspirational-row-wrapper {
    background-image:url(../../img/offer_orange2.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment: fixed;
    padding-top:100px;
    padding-bottom:100px;

    .button-wrapper-row {
      margin-top:50px;
    }
  }




  .about-section {
    margin-bottom:116px;

    .about-text-wrapper {
      margin-bottom:-36px;

      .section-title {
        font-size:48px;
        line-height:58px;
        margin-bottom:36px;
      }

      .about-paragraph {
        font-size:28px;
        line-height:36px;
        margin-bottom:36px;
      }
    }
    .about-img-wrapper {
      img {
        width:100%;
      }

      a {
        text-decoration:none;

        .twitter-card-link {
          background-color:#1DA1F2;
          transition:background-color .3s ease;
          height:88px;
          padding:24px 32px;
          display:flex;
          flex-direction:row;
          margin-top:24px;

          .twitter-logo {
            width:40px;
            height:40px;
            fill:$background-color;
            transition:fill .3s ease;
          }

          .twitter-handle {
            margin-left:34px;
            font-size:28px;
            line-height:36px;
            font-weight:700;
            color:$background-color;
            transition:color .3s ease;

            &:hover {
              text-decoration:none;
            }
          }

          .external-link-icon {
            width:40px;
            height:40px;
            margin-left:auto;
            fill:$background-color;
            transition:fill .3s ease;
          }
        }
        &:hover {
          .twitter-card-link {
            background-color:$accent-primary;

            .twitter-logo {
              fill:#000000;
            }
            .twitter-handle {
              color:#000000;
            }
            .external-link-icon {
              fill:#000000;
            }
          }
        }
      }
    }
  }

  .working-remotely {
    background-color:#000000;
    color:$background-color;
    padding:128px 0;

    .section-title {
      font-size:80px;
      line-height:90px;
      margin-bottom:128px;
    }

    .working-remotely-paragraph {
      font-size:28px;
      line-height:36px;
      margin-bottom:36px;
      padding-left:100px;
      padding-right:100px;

      a {
        color:#ffffff;

        &:hover {
          color:#000000;
        }
      }
    }

    .working-remotely-img {
      width:100%;
      height:auto;
      margin-bottom:112px;
    }
  }
}

@media (max-width: 991.98px) {
  .about-page {
    .about-section {
      margin-bottom:92px;

      .about-text-wrapper {
        order:1;
        margin-bottom:-28px;

        .section-title {
          font-size:32px;
          line-height:40px;
        }

        .about-paragraph {
          font-size:20px;
          line-height:28px;
          margin-bottom:28px;
        }
      }

      .about-img-wrapper {
        order:2;

        a {
          text-decoration:none;

          .twitter-card-link {
            height:64px;
            padding:16px;
            margin-top:32px;

            .twitter-logo {
              width:32px;
              height:32px;
            }

            .twitter-handle {
              margin-left:16px;
              font-size:18px;
              line-height:28px;
            }

            .external-link-icon {
              width:32px;
              height:32px;
            }
          }
          &:hover {
            .twitter-card-link {
              background-color:$accent-primary;

              .twitter-logo {
                fill:#000000;
              }
              .twitter-handle {
                color:#000000;
              }
              .external-link-icon {
                fill:#000000;
              }
            }
          }
        }
      }
    }


    .working-remotely {
      padding:40px 0;

      .section-title {
        font-size:38px;
        line-height:44px;
        margin-bottom:40px;
      }

      .working-remotely-paragraph {
        font-size:20px;
        line-height:28px;
        margin-bottom:28px;
        padding-left:0;
        padding-right:0;
      }

      .working-remotely-img {
        margin-bottom:40px;
        text-align:center;
      }
    }

  }
}
