.jobs-page {

  .full-height-wrapper.hero {
    height: 100vh;
    max-height: 500px;
    background-image:url(../../img/hero_bg_grey.jpg);
    background-size:cover;
    background-position:center center;
    margin-bottom:60px;
    box-shadow: rgba(184,100,44,.1) 0 5px 20px inset;
  }


  .search-jobs-wrapper {
    .white-background {
      display: flex;
      flex-direction: column;
      padding: 30px 30px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: rgba(184,100,44,.1) 0 5px 20px;
    }

    form {
      > .container {
        padding:0;
      }

      width: 100%;

      .input-wrapper {
        margin-top:25px;

        &:last-child {
          margin-bottom:25px;
        }

        input {
          width:100%;
          padding:13px 20px;
          border:#dddddd solid 2px;

          &::placeholder {
            color:#aaaaaa;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform:uppercase;
            letter-spacing: .05em;
          }
        }
      }

      .main-button {
        display: block;
        width: 100%;
        margin-top: 25px;
      }
    }
  }



  .search-results-wrapper {

    a {
      color:$text-color;

      &:hover {
        .job-opportunity-wrapper {
          background-color:#ffffff;
          box-shadow: rgba(184,100,44,.1) 0 5px 20px;

          .job-description-wrapper {
            .job-position {
              color:$accent-primary;
            }

            .job-area {
              color:$text-color;
            }
          }
          .job-details {
            .job-location {
              color:$text-color;
            }
            .job-publishing-info {
              .offer-type {
                color:$text-color;
              }
              .timestamp {
                color:$text-color;
              }
            }
          }
        }
      }

      .job-opportunity-wrapper {
        display:flex;
        flex-direction:row;
        padding:20px 0;
        transition:background-color .3s ease, box-shadow .3s ease .1s;
        border-radius: 5px;
        background-color: transparent;
        box-shadow: rgba(184,100,44,0) 0 5px 20px;
        margin-top:15px;

        &:last-child {
          margin-bottom:15px;
        }

        .negative-margins {
          margin-left:0px;
          margin-right:-15px;
        }

        .company-logo {
          display:flex;
          flex-direction:column;
          justify-content:space-around;

          img {
            width:50px;
            height:50px;
          }
        }

        .job-description-wrapper {
          .job-position {
            text-decoration:underline;
            transition:color .3s ease .1s;
          }

          .job-area {
            margin-bottom:0;
            color:#aaaaaa;
            transition:color .3s ease .1s;
          }
        }

        .job-details {
          display:flex;
          flex-direction:row;

          .job-location {
            line-height:30px;
            margin-bottom:.5em;
            color:#aaaaaa;
            transition:color .3s ease .1s;
          }

          .job-publishing-info {
            text-align: right;

            .offer-type {
              line-height:30px;
              margin-bottom:.5em;
              color:#aaaaaa;
              transition:color .3s ease .1s;
            }

            .timestamp {
              margin-bottom:0;
              color:#aaaaaa;
              transition:color .3s ease .1s;
            }
          }
        }
      }
    }
  }



}

.work-board {
  flex-direction:column;
  max-height:2000px;

  .work-img {
    width:100%;
    height:auto;
  }
  .work-title {
    font-size:40px;
    line-height:54px;
    margin-bottom:24px;
  }
  .work-description {
    font-size:24px;
    line-height:34px;
    margin-bottom:0;
  }

  .work-cell-wrapper {
    margin-bottom:120px;

    a {
      color:$text-color;

      .img-wrapper {
        width:100%;
        height:auto;
        overflow:hidden;
        margin-bottom:32px;
      }

      .work-title {
        text-decoration:underline;
        text-decoration-color:transparent;
        transition:text-decoration-color .3s ease;
      }

      &:hover {
        .work-img {
          transform:scale(1.1);
        }

        .work-title {
          text-decoration-color:$text-color;
        }
      }
    }

    img {
      transition:transform 1.5s ease;
    }



    &:nth-child(1) {
      order:1;
    }
    &:nth-child(2) {
      order:3;
    }
    &:nth-child(3) {
      order:2;
    }
    &:nth-child(4) {
      order:4;
    }
  }
}

@media (max-width: 991.98px) {
  .jobs-page {
    .job-location {
      text-align:right;
    }
  }
}


@media(max-width:767.98px){
  .work-board {
    max-height:max-content;
    flex-direction:column;
    flex-wrap:nowrap;

    .work-cell-wrapper {

      &:nth-child(1) {
        order:1;
      }
      &:nth-child(2) {
        order:2;
      }
      &:nth-child(3) {
        order:3;
        page-break-after: auto;
        break-after: auto;
      }
      &:nth-child(4) {
        order:4;
      }
    }
  }
}
