$background-color: #000000;
$lighter-dark-color: #191A1B;
$text-color: #F5F0EB;
$accent-primary: #1b61ca;
$accent-primary-light: #3979da;
$accent-primary-dark: #424D17;

/*
$background-color: #ffffff;
$lighter-dark-color: #F5F0EB;
$text-color: #191A1B;
$accent-primary: #D7FA50;
$accent-primary-light: #EAFF98;
$accent-primary-dark: #424D17;
*/
